header {
    background: lightblue;
    position: fixed;
    width: 100%;
    padding: 10px 0;
    z-index: 2;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__links{
    display: flex;
    gap: 10px;
}
